* {
  @include prefix(box-sizing, border-box, webkit);
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: $poppins;
}

body {
  height: 100vh;
  background-color: $bg-color;
  @include flex-box();
  @include justify-content();
  @include align-items();
}

button,
input {
  outline: 0;
}

::selection {
  background-color: $primary-color;
  color: #fff;
}

::-moz-selection {
  background-color: $primary-color;
  color: #fff;
}
