// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
$poppins: "Poppins", sans-serif;

// Colors
$primary-color: #058eda;
$alt-color: #ff6565;
$black-color: #212121;
$bg-color: #eff8ff;
