@import "./mixins.scss";
@import "./variables";
@import "./global";

/* == Timer 
================================ */
.timer {
  width: 600px;
  height: 600px;
  overflow: hidden;
  @extend %flex-box;

  @at-root #{&}__controls {
    @include relative();
    z-index: 1;
    text-align: center;
  }

  @at-root #{&}__duration {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 90px;
    border: 0;
    background-color: transparent;
    color: $primary-color;
  }

  @at-root #{&}__btn {
    padding: 10px 15px;
    border: 0;
    font-size: 22px;
    margin-top: 20px;
    background-color: #fff;
    cursor: pointer;
    @include prefix(
      transition,
      (background-color 0.3s ease-in-out, color 0.3s ease-in-out),
      webkit moz o ms
    );
    @include prefix(border-radius, 3px, webkit moz o ms);

    &:hover {
      color: $primary-color;
    }
  }

  @at-root #{&}__svg {
    @include absolute($top: 50%, $left: 50%);
    @include prefix(transform, translate(-50%, -50%));
    width: 600px;
    height: 600px;
  }

  @at-root #{&}__circle {
    fill: transparent;
    stroke: $primary-color;
    stroke-width: 20px;
  }
}

/* == Overlay
================================ */
.overlay {
  @include absolute($top: 0, $left: 0);
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;

  @at-root #{&}__msg {
    width: 500px;
    height: 200px;
    background-color: #fff;
    text-transform: capitalize;
    margin: 50px auto;
    @include prefix(border-radius, 3px, webkit moz o ms);
    @extend %flex-box;
    @include flex-direction(column);
  }

  @at-root #{&}__title {
    color: $black-color;
    font-size: 40px;
  }

  @at-root #{&}__close {
    margin-top: 10px;
    color: $alt-color;
    span {
      color: $black-color;
      text-transform: uppercase;
    }
  }
}

/* == Extends
================================ */
%flex-box {
  @include relative();
  @include flex-box();
  @include justify-content();
  @include align-items();
}
